* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	overflow-x: hidden;
}
.header {
	height: 100vh;
	background-image: url("./images/phone\ hunter\ background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: overlay;
}
p {
	line-height: 1.5em;
	padding: 0;
	margin: 0;
}
h6 {
	margin-top: 15px;
	margin-bottom: 5px;
}
.phone-size {
	height: 190px;
	width: 150px;
}
.phone-size2 {
	height: 270px;
	width: 200px;
}
#spinner {
	display: none;
}
#showMore-button {
	width: 150px !important;
	margin: 30px auto;
}

/* media query */
@media only screen and (max-width: 768px) {
	.media {
		flex-direction: column;
	}
	.column {
		width: 100%;
	}
}
